nav {
  background-color: #222;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00ffcc;
}

.correct {
  color: green;
}

.misplaced {
  color: yellow;
}

.incorrect {
  color: red;
}

.letter {
  display: flex;
  align-items: center;
  flex-direction: column;
}